*.iml
*.log
.DS_Store
.idea
.project
.idea
*.iml
/data
/venv
/out
/.package-lock.json
/node_modules
__pycache__/
.Python
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
/env/
/dist/
/build/
/xposer.egg-info/
*.egg-info/
/build/
/dist/
/xposer.egg-info/
/wheels/
/xposer.egg-info/
/xposer.egg-info/
